#!/usr/bin/env bash

# Load deploy-base env script
export BASEDIR=$(git rev-parse --show-toplevel)
DEPLOY_BASE_ROOT="${BASEDIR}/../deploy-base"

ONE_PASSWORD_TOKEN="op://Pulumi/7pgmqbvpk6xaps4exrjgbjyy24/password"

# Side load deploy-base to avoid relative dependency which breaks renovate with uv
export PYTHONPATH="${DEPLOY_BASE_ROOT}/src"

source "${DEPLOY_BASE_ROOT}/envrc-base.sh"
       ],
export OPNSENSE_API_KEY=$(op read "op://Pulumi/OPNsense/Key")
export OPNSENSE_API_SECRET=$(op read "op://Pulumi/OPNsense/Secret")
export OPNSENSE_ENDPOINT=https://opnsense.tobiash.net
